[submodule "library"]
	path = library
	url = git@github.com:NovumWare/Zend_Library.git
[submodule "public/novumWarePublicLibrary"]
	path = public/novumWarePublicLibrary
	url = git@github.com:NovumWare/NovumWarePublicLibrary.git
