/* ============================================= HTML TAGS ====================================== */
/* ============================================= LESS ====================================== */
/* GLOBAL VARIABLES */
/*Colors*/
/* MIXINS */
/* ============================================= GENERAL CLASSES ====================================== */
.no-padding {
  padding: 0px !important;
}
.padding-top-small {
  padding-top: 5px !important;
}
.padding-top-medium {
  padding-top: 10px !important;
}
.padding-top-large {
  padding-top: 20px !important;
}
.padding-bottom-small {
  padding-bottom: 5px !important;
}
.padding-bottom-medium {
  padding-bottom: 10px !important;
}
.padding-bottom-large {
  padding-bottom: 20px !important;
}
.padding-left-small {
  padding-left: 5px !important;
}
.padding-left-medium {
  padding-left: 10px !important;
}
.padding-left-large {
  padding-left: 20px !important;
}
.padding-right-small {
  padding-right: 5px !important;
}
.padding-right-medium {
  padding-right: 10px !important;
}
.padding-right-large {
  padding-right: 20px !important;
}
.padding-small {
  padding: 5px;
}
.padding-medium {
  padding: 10px;
}
.padding-large {
  padding: 20px;
}
.margin-left-small {
  margin-left: 5px !important;
}
.margin-left-medium {
  margin-left: 10px !important;
}
.margin-left-large {
  margin-left: 20px !important;
}
.margin-right-small {
  margin-right: 5px !important;
}
.margin-right-medium {
  margin-right: 10px !important;
}
.margin-right-large {
  margin-right: 20px !important;
}
.margin-top-small {
  margin-top: 5px !important;
}
.margin-top-medium {
  margin-top: 10px !important;
}
.margin-top-large {
  margin-top: 20px !important;
}
.margin-bottom-small {
  margin-top: 5px !important;
}
.margin-bottom-medium {
  margin-top: 10px !important;
}
.margin-bottom-large {
  margin-top: 20px !important;
}
.width-auto {
  width: auto !important;
}
.width-100 {
  width: 100% !important;
}
.height-100 {
  height: 100% !important;
}
.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right !important;
}
.align-center {
  text-align: center !important;
}
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.position-relative {
  position: relative !important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.float-none {
  float: none !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.clear-both {
  clear: both;
}
.borderless {
  border: none !important;
}
.border-left {
  border-left: 1px solid #cccccc;
}
.border-right {
  border-right: 1px solid #cccccc;
}
.border-top {
  border-top: 1px solid #cccccc;
}
.border-bottom {
  border-bottom: 1px solid #cccccc;
}
.bordered {
  border: 1px solid #cccccc;
}
.inactive {
  color: #e0e0e0 !important;
}
.pending {
  color: #e0e0e0;
}
.rounded {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.hidden {
  display: none !important;
}
.date {
  width: 90px;
}
.inline-block {
  display: inline-block !important;
  width: auto;
  vertical-align: top;
}
.block {
  display: block !important;
}
.display-table {
  display: table !important;
}
.table-cell {
  display: table-cell !important;
}
.table-row {
  display: table-row !important;
}
.attention {
  background-color: #d5edf8;
}
.img-mini {
  width: 100px;
  height: 100px;
}
.img-small {
  width: 200px;
  height: 180px;
}
.img-medium {
  width: 200px;
  height: 200px;
}
.img-large {
  width: 300px;
  height: 350px;
}
.img-thumb-mini {
  width: 20px;
  height: 20px;
}
.img-thumb-small {
  width: 35px;
  height: 35px;
}
.img-thumb-medium {
  width: 40px;
  height: 40px;
}
.img-thumb-large {
  max-width: 60px;
  max-height: 60px;
}
#debugg {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 300px;
  background: #fff6bf;
  z-index: 1;
}
.ui-effects-transfer {
  border: 2px dotted #606060;
  z-index: 7000;
}
.sortable-placeholder {
  width: 170px;
  height: 128px;
  border: 1px dashed #606060;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.above-all {
  z-index: 10000 !important;
}
/* ============================================= HTML FONTS ====================================== */
/* [1] FONTS */
.font-small {
  font-size: 0.866em !important;
}
.font-medium {
  font-size: 14px !important;
}
.font-large {
  font-size: 1.166em !important;
}
.font-giant {
  font-size: 2.2em !important;
}
.font-bold {
  font-weight: bold;
}
.product-category {
  color: #701a14;
  font-size: auto;
  font-weight: bold;
}
.product-brand {
  color: #606060;
  font-size: auto;
  font-weight: bold;
}
.small {
  font-size: 0.866em;
  line-height: 1.5em;
}
.font-accent {
  color: #701a14;
  font-size: 1.166em;
  font-weight: bold;
}
.font-normal {
  color: #606060;
  font-size: 14px;
  font-weight: normal;
}
.accent-color {
  color: #701a14;
}
.success-color {
  color: #264409;
}
/* ============================================= HTML SPACERS ====================================== */
.spacer-small {
  height: 5px;
}
.spacer-medium {
  height: 10px;
}
.spacer-large {
  height: 20px;
}
.spacer-hor-small {
  width: 5px;
  display: inline-block;
}
.spacer-hor-medium {
  width: 10px;
  display: inline-block;
}
.spacer-hor-large {
  width: 20px;
  display: inline-block;
}
.spacer-td-small {
  width: 5px;
}
.spacer-td-medium {
  width: 10px;
}
.spacer-td-large {
  width: 20px;
}
/* ============================================= ICONS ====================================== */
.icon {
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
  background-image: url("/Sites/zend_basic/public/foundation/images/icons.png");
  background-repeat: no-repeat;
}
.icon-arrow-down {
  background-position: 0px 0px;
}
.icon-arrow-down-inverted {
  background-position: 0px -16px;
}
.icon-arrow-up {
  background-position: -16px 0px;
}
.icon-arrow-up-narrow {
  background-position: -112px -112px;
}
.icon-arrow-up-inverted {
  background-position: -16px -16px;
}
.icon-arrow-right {
  background-position: -64px 0px;
}
.icon-arrow-up-down {
  background-position: -32px -32px;
}
.icon-arrow-left-inverted {
  background-position: -64px -32px;
}
.icon-double-bar-inverted {
  background-position: -80px -32px;
}
.icon-arrow-right-inverted {
  background-position: -64px -16px;
}
.icon-cart {
  background-position: -48px 0px;
}
.icon-cart-inverted {
  background-position: -48px -16px;
}
.icon-invite-friend {
  background-position: -32px 0px;
}
.icon-invite-friend-inverted {
  background-position: -32px -16px;
}
.icon-check {
  background-position: -48px -48px;
}
.icon-feedback-positive {
  background-position: 0px -64px;
}
.icon-add {
  background-position: 0px -64px;
}
.icon-product-suggest {
  background-position: 0px -64px;
}
.icon-feedback-neutral {
  background-position: -16px -64px;
}
.icon-feedback-negative {
  background-position: -32px -64px;
}
.icon-question {
  background-position: 0px -48px;
}
.icon-rp {
  background-position: -64px -48px;
}
.icon-required {
  background-position: 0px -48px;
}
.icon-email {
  background-position: 0px -32px;
}
.icon-sms {
  background-position: -16px -32px;
}
.icon-required {
  background-position: 0px -80px;
}
.icon-more-hor {
  background-position: -16px -80px;
}
.icon-more-vert {
  background-position: -32px -80px;
}
.icon-revert {
  background-position: -48px -64px;
  cursor: pointer;
}
.icon-revert:hover {
  background-position: -64px -64px;
}
.icon-edit {
  background-position: -80px -48px;
  cursor: pointer;
}
.icon-edit:hover {
  background-position: -80px -64px;
}
.icon-x {
  background-position: -16px -48px;
  cursor: pointer;
}
.icon-x:hover {
  background-position: -32px -48px;
  cursor: pointer;
}
.icon-addToCart {
  background-position: -80px 0px;
}
.icon-addToCompareChart {
  background-position: -80px -16px;
}
.icon-flag {
  background-position: -96px -80px;
}
.icon-payment {
  background-position: -96px 0px;
}
.icon-shipment {
  background-position: -112px -16px;
}
.icon-delivered {
  background-position: -96px -16px;
}
.icon-returned {
  background-position: -112px -32px;
}
.icon-return-delivered {
  background-position: -96px -32px;
}
.icon-checkout-complete {
  background-position: -96px -48px;
}
.icon-pending-completion {
  background-position: -112px -48px;
}
.icon-receipt {
  background-position: -96px -64px;
}
.icon-trackpackage {
  background-position: -112px -64px;
}
.icon-attention {
  background-position: -96px -80px;
}
.icon-request-feedback {
  background-position: -112px -80px;
}
.icon-order-completed {
  background-position: -96px -96px;
}
.icon-return-completed {
  background-position: -112px -96px;
}
.icon-order-cancelled {
  background-position: -96px -112px;
}
.icon-notes {
  background-position: -48px -80px;
}
.icon-actions {
  background-position: -64px -96px;
}
.icon-actions-inverted {
  background-position: -80px -96px;
}
/* icon status */
.icon-status-listed {
  background-position: 0px -96px;
}
.icon-status-approved {
  background-position: 0px -96px;
}
.icon-status-in_progress {
  background-position: -32px -96px;
}
.icon-status-suspended {
  background-position: -16px -96px;
}
.icon-status-pending_approval {
  background-position: -16px -96px;
}
.icon-status-unlisted {
  background-position: -16px -96px;
}
.icon-status-removed {
  background-position: -48px -96px;
}
.icon-status-denied {
  background-position: -48px -96px;
}
/* ICON MEDIUM */
.icon-medium {
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
  background-image: url("/Sites/zend_basic/public/foundation/images/icons.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  background-image: url("/Sites/zend_basic/public/foundation/images/icons-medium.png");
}
.icon-medium-x {
  background-position: 0px 0px;
  cursor: pointer;
}
.icon-medium-x:hover {
  background-position: -26px 0px;
}
.icon-medium-trash {
  background-position: -52px 0px;
  cursor: pointer;
}
.icon-medium-trash:hover {
  background-position: -78px 0px;
}
/* ICON LARGE */
.icon-large {
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
  background-image: url("/Sites/zend_basic/public/foundation/images/icons.png");
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  background-image: url("/Sites/zend_basic/public/foundation/images/icons-large.png");
}
.icon-large-compare-chart {
  background-position: 0px 0px;
}
.icon-large-search {
  background-position: -34px 0px;
}
.icon-large-trash {
  background-position: -68px 0px;
}
.icon-large-rp {
  background-position: -136px 0px;
}
.icon-large-pin {
  background-position: 0px -136px;
  cursor: pointer;
}
.icon-large-pin:hover {
  background-position: -34px -136px;
}
.icon-large-pin-cancel {
  background-position: 0px -102px;
  cursor: pointer;
}
.icon-large-pin-cancel:hover {
  background-position: -34px -102px;
}
.icon-large-quickview {
  background-position: -68px -136px;
  cursor: pointer;
}
.icon-large-quickview:hover {
  background-position: -102px -136px;
}
.icon-large-addToCart {
  background-position: -102px 0px;
  cursor: pointer;
}
.icon-large-addToCart:hover {
  background-position: -102px -32px;
}
/* ============================================= GENERAL ====================================== */body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-width: 1080px;
  height: 100%;
  background: #f8efee url("/Sites/zend_basic/public/images/bg.gif") repeat top center;
  color: #606060;
  font-size: 14px;
}
a {
  color: #af7a85;
  text-decoration: none;
}
img {
  border: 1px solid #cccccc;
}
/* ============================================= HEADERS ====================================== */h1,
h2,
h3,
h4,
h5 {
  font-style: italic;
  color: inherit;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 14px;
}
hgroup h1 {
  margin-bottom: 5px;
}
/* ============================================= FORMS ====================================== */form {
  position: relative;
}
form label {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 1.8em;
  text-align: right;
}
form > div {
  position: relative;
}
input {
  height: 1.2em;
}
input.small {
  width: 50px;
}
label {
  padding-right: 9px;
  margin-right: 5px;
  font-weight: bold;
}
label.required {
  background: url("/Sites/zend_basic/images/required.png") top right no-repeat;
}
textarea {
  display: inline-block;
  height: 100px;
  padding: 0px;
  margin: 0px;
}
button, input[type='submit'] {
  position: relative;
  display: inline-block;
  overflow: visible;
  min-width: 100px;
  min-height: 25px;
  padding: 0px 5px;
  margin: 0px;
  border: solid 1px #cccccc;
  cursor: pointer;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dcdcdc));
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
  color: #606060;
  text-align: center;
  font-size: 1em;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  -moz-box-shadow: 0px 1px 2px 0px rgba(96, 96, 96, 0.5);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(96, 96, 96, 0.5);
  box-shadow: 0px 1px 2px 0px rgba(96, 96, 96, 0.5);
}
button.short, input[type='submit'].short {
  width: 100px !important;
}
button.medium, input[type='submit'].medium {
  width: 150px !important;
}
button.long, input[type='submit'].long {
  width: 200px !important;
}
button:hover, input[type='submit']:hover {
  background-color: #e0e0e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff));
  background: -moz-linear-gradient(top, #ededed, #ffffff);
}
button:active, input[type='submit']:active {
  top: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff));
  background: -moz-linear-gradient(top, #ededed, #ffffff);
  color: #e0e0e0;
}
button[disabled], input[type='submit'][disabled] {
  color: #e0e0e0;
  background-color: #e0e0e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff));
  background: -moz-linear-gradient(top, #ededed, #ffffff);
  cursor: default;
}
button[disabled]:active, input[type='submit'][disabled]:active {
  top: 0px;
}
button.large, input[type='submit'].large {
  line-height: 22px;
  padding: 6px 15px 7px;
  font-size: 20px;
}
button.positive, input[type='submit'].positive {
  color: white;
  background-color: #5BA825;
  border: 1px solid #377D00;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#98c877), to(#5ca825));
  background: -moz-linear-gradient(top, #98c877, #5ca825);
}
button.positive:hover, input[type='submit'].positive:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#5ca825), to(#98c877));
  background: -moz-linear-gradient(top, #5ca825, #98c877);
}
button.neutral, input[type='submit'].neutral {
  color: #514721;
  background-color: #fff6bf;
  border: 1px solid #ffd324;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff6bf), to(#e0cb61));
  background: -moz-linear-gradient(top, #fff6bf, #e0cb61);
}
button.neutral:hover, input[type='submit'].neutral:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e0cb61), to(#fff6bf));
  background: -moz-linear-gradient(top, #e0cb61, #fff6bf);
}
/* ============================================= CONTENT ====================================== */#content-wrapper {
  min-height: 300px;
}
.copyright {
  font-size: 0.866em;
  font-style: italic;
}
/***** Attributes Order
** postition / float
** width / height
** margins / padding
** borders
** backgrounds
** content
** z-index
*****/
/* ============================================= GENERAL ====================================== */
body {
  display: block;
  width: 960px;
  margin: 0px auto;
  padding: 10px;
}
/* ============================================= HEADER ====================================== */
header {
  display: block;
  margin: 0px 0px 10px 0px;
}
/* ============================================= NAV ====================================== */
nav.nav-main {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  padding: 0px;
}
nav.nav-main ul {
  display: none;
  position: absolute;
  top: -4px;
  left: 150px;
  width: auto;
  margin: 0px;
  padding: 4px 0px;
  list-style-type: none;
  background-color: rgba(96, 96, 96, 0.9);
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
nav.nav-main ul li {
  position: relative;
  width: 150px;
  margin: 0px;
  padding: 0px;
}
nav.nav-main ul li:hover {
  background: rgba(96, 96, 96, 0.9);
}
nav.nav-main ul li:hover a {
  color: #ffffff;
}
nav.nav-main ul li a {
  display: block;
  height: 20px;
  padding: 10px;
}
nav.nav-main ul li:hover > ul {
  display: block;
}
nav.nav-main > ul {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  width: auto;
  padding: 0px;
  border: 3px double #DAD2D2;
  border-left: none;
  border-right: none;
  background-color: transparent;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
nav.nav-main > ul > li {
  display: inline-block;
  width: auto;
}
nav.nav-main > ul > li > ul {
  top: 40px;
  left: 0px;
  -moz-border-radius: 0px 4px 4px 4px;
  -webkit-border-radius: 0px 4px 4px 4px;
  border-radius: 0px 4px 4px 4px;
}
/* ============================================= FOOTER ====================================== */
footer {
  position: relative;
}
footer nav.nav-main {
  font-size: 0.866em;
}
footer nav.nav-main ul {
  text-align: center;
  border-bottom: none;
}
footer .copyright {
  position: absolute;
  top: 10px;
  right: 10px;
}
