@import 'variables.less';
@import '../../foundation/stylesheets/less/base.less';

/***** Attributes Order
** postition / float
** width / height
** margins / padding
** borders
** backgrounds
** content
** z-index
*****/

/* ============================================= GENERAL ====================================== */
body {
	display: block;
	width: 960px;
	margin: 0px auto;
	padding: 10px;
}


/* ============================================= HEADER ====================================== */
header {
	display: block;
	margin: 0px 0px 10px 0px;
}


/* ============================================= NAV ====================================== */
nav.nav-main {
	font-family: Georgia, "Times New Roman", Times, serif;
	display: block;
	padding: 0px;
	
	ul {
		display: none;
		margin: 0px;
		padding: 0px;
		list-style-type: none;
		
		li {
			display: inline-block;
			position: relative;
			height: 40px;
			margin: 0px;
			padding: 0px;

			a {
				display: block;
				padding: 10px;

				&:hover {
					color: @colorInverted;
					background: @bgColorInverted;
				}
			}
			
			> ul {
				position: absolute;
				top: 41px;
				background-color: @bgColorInverted;
				
				li {
					a {
						color: @colorInverted;
					}
				}
			}
			
			&:hover {
				> ul {
					display: block;
				}
			}
		}
	}
	
	> ul {
		display: block;
		border: 3px double #DAD2D2;
		border-left: none;
		border-right: none;
	}	
}


/* ============================================= FOOTER ====================================== */
footer {
	position: relative;
	
	nav.nav-main {
		font-size: @fontSizeSmall;
		
		ul {
			text-align: center;
			border-bottom: none;
		}
	}
	
	.copyright {
		position: absolute;
		top: 10px;
		right: 10px
	}
}
